<%= form_for @deal do |f| %>

	<% if @deal.errors.any? %>
		<div id="error_explanation">
			<h2>
				<%= pluralize(@deal.errors.count, "error") %>
				prohibited
				this deal from being saved:
			</h2>
			<ul>
				<% @deal.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 <br>
 
  <p>
    <%= f.label :vendor_id %><br>
    <%= f.collection_select :vendor_id, @vendors, :id, :name, {include_blank: 'Please Select'}, {class: 'selectpicker chosen-select'} %>
  </p>
 
  <p>
    <%= f.label :item %><br>
    <%= f.collection_select :item_id, @items, :id, :name, {include_blank: 'Please Select'}, {class: 'selectpicker chosen-select'} %>
  </p>

  <p>
    <%= f.label :price %><br>
    <%= f.text_field :price %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
  <% end %>