<h1> Vendors </h1>
<%= link_to "New Vendor", new_vendor_path %>

<% @vendors.each do |vendor| %>
	<p><%= vendor.name %></p>
	<%= link_to 'Show', vendor_path(vendor) %>
	<%= link_to 'Edit', edit_vendor_path(vendor) %>
	<%= link_to 'Destroy', vendor_path(vendor),
              method: :delete,
              data: { confirm: 'Are you sure?' } %>
<% end %>
